<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 	Customer class map injection -->
    <bean name="customer" class="cogent.infotech.com.map_injection.Customer">
    	<property name="id" value="10"></property>
    	<property name="products">
    		<map>
    			<entry key="1" value="eraser"></entry>
    			<entry key="2" value="pen"></entry>
    			<entry key="3" value="paper"></entry>
    		</map>
    	</property>
    </bean>
</beans>