<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 	reference injection scores and student classes -->
	<bean name="scores" class="cogent.infotech.com.reference_injection.Scores" p:maths="95" p:physics="92" p:chemistry="89"></bean>
	<bean name="student" class="cogent.infotech.com.reference_injection.Student" p:scores-ref="scores"></bean>
</beans>