<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config></context:annotation-config>
 	<bean name="address1" class="cogent.infotech.com.qualifier.Address" p:houseNo="4367" p:street="nw 7th st" p:city="Orlando"></bean>
 	<bean name="address2" class="cogent.infotech.com.qualifier.Address" p:houseNo="6542" p:street="sw 5th ave" p:city="Atlanta"></bean>
	<bean name="employee" class="cogent.infotech.com.qualifier.Employee"></bean>
</beans>