.div-outer {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

form {
    width: 33%;
    margin: auto;
    margin-top: 75px;
    border: solid black;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 8px 18px 8px black;
    background-color: lightgrey;
}

@media (max-width: 800px) {
    form {
        width: 50%;
    }
}

.button-submit-add {
    display:flex;
    justify-content: center;
    background-color: blue;
    padding: 10px;
    color: white;
    border-radius: 12px;
    opacity: .8;
    width: 100%;
    margin-top: 20px;
    transition-duration: 0.4s;
}
  
.button-submit-add:hover {
    background-color: #2eb432;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}