<form novalidate #editPersonForm="ngForm" (ngSubmit)="onSubmitEdit(editPersonForm)">
    <div *ngIf="toggle">
        <h2>Update User {{currPersonID}}</h2>
        <div>
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="personForm.personName" name="name" placeholder="Enter your name" required>
        </div>
        <div>
            <label for="age">Age</label>
            <input type="number" [(ngModel)]="personForm.personAge" name="age" placeholder="Enter your age" required>
        </div>
        <div>
            <label for="salary">Salary</label>
            <input type="number" [(ngModel)]="personForm.personSalary" name="salary" placeholder="Enter your salary" required>
        </div>
        <button [disabled]="editPersonForm.invalid" (click)="refresh()" type="submit">Update</button>
        <button (click)='resetForm()'>Reset Form</button>
    </div>
</form>

<form *ngIf="!toggle" novalidate #addPersonForm="ngForm" (ngSubmit)="onSubmitAdd(addPersonForm)">
    <h2>User</h2>
    <div>
        <label for="name">Name </label>
        <input type="text" [(ngModel)]="personForm.personName" name="name" placeholder="Enter your name" required>
    </div>
    <div>
        <label for="age">Age </label>
        <input type="number" [(ngModel)]="personForm.personAge" name="age" placeholder="Enter your age" required>
    </div>
    <div>
        <label for="salary">Salary </label>
        <input type="number" [(ngModel)]="personForm.personSalary" name="salary" placeholder="Enter your salary" required>
    </div>
    <button [disabled]="addPersonForm.invalid" (click)="refresh()" type="submit">Add</button>
    <button (click)='resetForm()'>Reset Form</button>
</form>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
    </thead>
    <tbody>
        <tr *ngFor="let person of people; let i = index">
            <td>{{person.personId}}</td>
            <td>{{person.personName}}</td>
            <td>{{person.personAge}}</td>
            <td>{{person.personSalary}}</td>
            <button (click)="edit(person.personId)">Edit</button>
            <button (click)="delete(person.personId)" (click)="refresh()">Remove</button>
        </tr>
    </tbody>
</table>